
@font-face { font-family: BebasNeue; src: url('/fonts/BebasNeue.otf'); font-weight: normal; font-style: normal; -webkit-font-smoothing: antialiased;}
@font-face { font-family: Intro; src: url('/fonts/Intro.otf'); font-weight: normal; font-style: normal; -webkit-font-smoothing: antialiased;}

.float-line {
    display: inline-block;
    position: relative;
    width: 500px;
    color: white;
    font-family: BebasNeue;
    font-size: 36px;
}

.float-line-1 {
    top: 100px;
    left: -200px;
    transition: left 20s linear;
}

.float-line-1-state-1 {
    top: 100px;
    left: -100px;
}

.float-line-2 {
    top: 100px;
    left: -400px;
    transition: left 15s linear;
}

.float-line-2-state-1 {
    top: 100px;
    left: -500px;
}

.float-line-3 {
    top: 100px;
    left: 10px;
    transition: left 35s linear;
}

.float-line-3-state-1 {
    left: 200px;
}

.float-line-4 {
    top: 100px;
    left: -150px;
    background-color: gray;
    opacity: 0.8;
    transition: left 30s linear;
}

.float-line-4-state-1 {
    top: 100px;
    left: -250px;
}

.favorite-video {
    float: left;
}

.favorite-video:hover {
    /* opacity: 0.9; */
}

.vertical-videos {
    position: absolute;
    top: 350px; left:
    0px; width: 120%;
    transition: left 3s linear;
}

.vertical-videos:hover {
    left: -200px;
}

.favorite-video .video-title {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 350px;
    border-bottom: 1px solid white;
}

.favorite-video .video-description {
    display: none;
    position: absolute;
    bottom: 6px;
    left: 0px;
    background-color: rgb(49, 49, 49);
    color: white;
    width: 354px;
    height: 40px;
    opacity: 0.8;
    padding: 4px;
}

.favorite-video:hover .video-description {
    display: inline-block;
}

.favorite-1 {
    top: 40px;
    left: 30px;
}

.favorite-2 {
    top: 280px;
    left: 30px;
}

.favorite-3 {
    top: 520px;
    left: 30px;
}

.favorite-4 {
    top: 40px;
    right: 30px;
}

.favorite-5 {
    top: 280px;
    right: 30px;
}

.favorite-6 {
    top: 520px;
    right: 30px;
}

.navigation {
    position: relative;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    height: 800px;
}

.border-line {
    position: absolute;
    top: 0px;
    left: 170px;
    width: 50px;
    height: 800px;
    background-color: red;
    opacity: 0.8;
    overflow: hidden;
}

.title {
    position: absolute;
    top: 10px;
    left: -17px;
    color: white;
    border-bottom: 1px solid white;
    font-size: 25px;
}

.message {
    position: absolute;
    top: 50px;
    left: 220px;
    width: 250px;
    opacity: 0.8;
    overflow: hidden;
    background-color: red;
    padding: 5px;
    color: white;
}

.menu-container {
    position: absolute;
    bottom: 0px;
    height: 300px;
    width: 400px;
}

.menu-item {
    margin-top: 5px;
    padding: 5px;
    color: white;
    border-bottom: 1px solid white;
    font-size: 25px;
}

.menu-item .menu-item-name {
    display: inline-block;
}

.menu-item .menu-item-details {
    display: none;
}

.bottom-line {
    width: 100%;
    background-color: rgb(34, 34, 34);
    opacity: 0.8;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottom-line span {
    font-family: Intro;
    color: white;
    font-size: 14px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
